//Base font from google fonts
//Font: poppins.
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,300;1,500;1,700&?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap");

$base-bg: #ffffff; //Body BG
$header-box-bg: #181818;
$hreo-header-text: #ffffff;
$text-box: #363636; //Search box background color
$text-news-heading-h: #000000; //News block Color - Featured news
$newf-block-bg: #ffffff; //News block background - Featured news
$empty-image: #d8d6d6;
$no-image: #b0b0b0;
$nsr: #f0f0f0; //Search result panel

// font-family
$natosans: "Noto Sans JP", sans-serif;
